<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find multi_legged_control)/config/controller.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/" args="joint_state_controller
                                                 LF_base_clause_controller
                                                 LM_base_clause_controller
                                                 LH_base_clause_controller
                                                 RF_base_clause_controller
                                                 RM_base_clause_controller
                                                 RH_base_clause_controller
                                                 LF_thigh_controller
                                                 LM_thigh_controller
                                                 LH_thigh_controller
                                                 RF_thigh_controller
                                                 RM_thigh_controller
                                                 RH_thigh_controller
                                                 LF_tibia_controller
                                                 LM_tibia_controller
                                                 LH_tibia_controller
                                                 RF_tibia_controller
                                                 RM_tibia_controller
                                                 RH_tibia_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher"
        type="robot_state_publisher"
        respawn="false" output="screen">
        <remap from="/joint_states" to="/multi_legged_robot/joint_states" />
  </node>

</launch>